@model Domain.ErApplication

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ErApplication</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ErUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ErUser!.FirstName!)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Property)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Property!.Title!)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ErApplicationStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ErApplicationStatus!.ErApplicationStatusValue!)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
